<!-- <form (ngSubmit)="onclickcheck()">
  <br><br><br><br><br><br><br><br><br>
  <input type="text" [(ngModel)]="patient.pid" name="id" placeholder="Ebter Your Id">
  <br><br>
  <input type="text" [(ngModel)]="patient.pName" name="name" placeholder="Ebter Your name">
  <br><br>
  <button>Add Neew onAddPatient</button>
</form> -->

<br><br><br><br><br><br><br><br>


<section >
  <div class="container py-5 h-100" class="loginbackgroundsection">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onclickcheck()">
              <h3 class="mb-5">Log in</h3>
              <div class="form-outline mb-4">
                <input  type="email" [(ngModel)]="patient.patientEmail" name="patientEmail" placeholder="Enter Patient Email" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Patient Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="text" [(ngModel)]="patient.pid" name="id" placeholder="Enter Your Id"  class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Patient ID</label><br>
                <!-- <input type="text" [(ngModel)]="patient.patientPassword" name="patientPassword" > -->
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>