<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Balco Medical Centre</h1>
          <p class="lead text-muted mb-0" style="font-size: 20px; font-weight: normal;">VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical, surgical and radiation oncology. More than 2.5 million Indians currently live with cancer and the country sees over 5,50,000 cancer-related deaths each year. With these statistics in mind, VMRF aims to bring ultra-modern, multi-modality diagnostic and therapeutic facilities within easy reach of India’s population at a reasonable and affordable cost.</p>
          <p class="lead text-muted"> 
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://balcomedicalcentre.com/package/images/aboutus2.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Leaders</h2>
          <h3>Anil Agarwal</h3>
          <a>Chairman - Vedanta Resources</a>
          <p class="font-italic text-muted mb-4" style="font-size: 20px;">A first-generation industrialist, Anil Agarwal has built Vedanta into a globally diversified natural resources group committed to sustainable development.Throughout his career he has fostered a work philosophy that marries stakeholder value with inclusive growth of local communities.
  
            Vedanta group companies have supported over 4,00,000 women and children through education, nutrition and empowerment programmes. Additionally, hospitals, mobile health centres, and rural health posts supported by the group have provided healthcare for another 2.2 million people. Mr. Agarwal now intends to expand this medical support through the Vedanta Cancer Hospital and Research Centre.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://balcomedicalcentre.com/package/images/anilagrawal.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://balcomedicalcentre.com/package/images/jyotiagrawal.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Jyoti Agarwal</h2>
          <p class="font-italic text-muted mb-4" style="font-size: 20px;">“For over 20 years, Mrs. Jyoti Agarwal has been involved in the delivery of sustainable solutions that make a genuine difference to individuals and society. An experienced, strategic philanthropist, she has played a lead role in building the Sterlite Tech Foundation and the Agarwal family trust by combining her passion for empowerment and upliftment with a rigorous approach to driving impact.
  
            Mrs. Agarwal spearheaded the development of BALCO Medical Centre. Her vision has been critical in driving the Centre’s ambition to create a world-class oncology facility that provides superior-quality treatment at an affordable price for all</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>