<!-- <header class="header">
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
          <div class="menu">
          <div class="title">
            <h1><b>Balco</b></h1>
            <h6> Medical Center</h6></div>
            <a (click)="login()">LogIn</a>
            <a (click)="Signup()">signup</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
            <a href="#">Specilaities</a>
            <a (click)="doctorlist()">Doctor's List</a>
            <a href="#">Home</a>
            <a style = "color: rgb(21, 255, 157);">Hello </a> 
          </div>
</header> -->


<header class="header">

    <a href="#" class="logo" style="text-decoration:none"> Balco </a>

    <nav class="navbar">
        <a (click)="home()">home</a>
        <!-- speciliaties -->
        <a href="#services">services</a>
        <a (click)="doctorlist()">doctors</a>
        <!-- About Us -->
        <a (click)="about()">about</a>
       
        <!-- contact Us -->
        <a (click)="book()">book</a>
        <a (click)="Signup()">Sign Up</a>
        <a (click)="login()">LogIn</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>

