
<br>
<br>
<br>
<br>
<br>
<br>
    <!-- <section class="doctors" id="doctors">

      <h1 class="heading"> our <span>doctors</span> </h1>
  
      <div class="box-container">

        <div *ngFor="let doctor of doctors" >
            <div class="box">
                <h3>{{doctor.doctorName}}</h3>
                <span>{{doctor.doctorDegree}}</span>
                <span>expert doctor</span>
              <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-instagram"></a>
                  <a href="#" class="fab fa-linkedin"></a>
              </div>
             </div>
          </div>
      </div>
  
  </section>


  <section class="doctors" id="doctors">
    <div *ngFor="let doctor of doctors" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="box-container">
                <div class="box">
                    <h3>{{doctor.doctorName}}</h3>
                    <span>{{doctor.doctorDegree}}</span>
                    <span>expert doctor</span>
                </div>
            </div>
        </div>
        </div>
      </div>
  </section>

 -->

<!-- 
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <section class="doctors" id="doctors">
            <div *ngFor="let doctor of doctors" >
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://balcomedicalcentre.com/uploads/doctor/dr-deba-dulal-biswal.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <div class="box-container">
                        <div class="box">
                            <h3>{{doctor.doctorName}}</h3>
                            <span>{{doctor.doctorDegree}}</span>
                            <span>expert doctor</span>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </section>
        
      </div>
       </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  



  <div class="card-deck">
    <div class="card">
        <section class="doctors" id="doctors">
            <div *ngFor="let doctor of doctors" >
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://balcomedicalcentre.com/uploads/doctor/dr-deba-dulal-biswal.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <div class="box-container">
                        <div class="box">
                            <h3>{{doctor.doctorName}}</h3>
                            <span>{{doctor.doctorDegree}}</span>
                            <span>expert doctor</span>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </section>
    </div>

    <div class="card">
        <img class="card-img-top" src="">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
                This card has supporting text below 
                as a natural lead-in to additional 
                content.
            </p>

            <p class="card-text">
                <small class="text-muted">
                    Last updated 3 mins ago
                </small>
            </p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
                This is a wider card with supporting 
                text below as a natural lead-in to 
                additional content. This card has 
                even longer content than the first 
                to show that equal height action.
            </p>
              
            <p class="card-text">
                <small class="text-muted">
                    Last updated 3 mins ago
                </small>
            </p>
        </div>
    </div>
</div>
















<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-box center-version">
                <section class="doctors" id="doctors">
                    <div *ngFor="let doctor of doctors" >
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://balcomedicalcentre.com/uploads/doctor/dr-deba-dulal-biswal.jpg" alt="Card image cap">
                        <div class="card-body">
                            
                            <div class="box-container">
                                <div class="box">
                                    <h3>{{doctor.doctorName}}</h3>
                                    <span>{{doctor.doctorDegree}}</span>
                                    <span>expert doctor</span>
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>
                    </section>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>
        
                    <div class="font-bold">Graphics designer</div>
                    <address class="m-t-md">
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>
        
                    <div class="font-bold">Graphics designer</div>
                    <address class="m-t-md">
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div> -->







<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootdey">
    <section class="doctors" id="doctors">
        <div *ngFor="let doctor of doctors" >
<div class="row">
    
<div class="col-md-11 ">
    
<div class="row">
   
  <div class="col-md-6 col-lg-4">
    <div class="card hover-shadow">
      

      <div class="card-body text-center ">
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://balcomedicalcentre.com/uploads/doctor/dr-ashish-mazumdar.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <div class="box-container">
                        <div class="box">
                            
                            <h3>{{doctor.doctorName}}</h3>
                            <span>{{doctor.doctorDegree}}</span>
                            <span>expert doctor</span>
                            
                        </div>
                    </div>
                </div>
                </div>
              </div>
            
      </div>

      
    </div>
</div>
</div>
  </div>
  
</div>
</section>  



 

</div>